<!DOCTYPE html>
<html>

  <!-- head-- uses style.css for styling   -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <!-- the navbar-- consistant throughout the website-->
  <!-- current page link is set to active --> 
  <div class="topnav">
    <a href="index.html">Home</a>
    <a href="test.html">Test</a>
    <a href="contact.html">Contact</a>
    <a class="active" href="about.html">About</a>

  </div>


  <!--header of the website, consistent throughout --> 
  <div class = "header">
    <h1>Fake News Detector</h1>
  </div>

  <!-- title for Sahithi's section --> 
  <div class = "sname">
    <h2>Sahithi</h2>
  </div>
  
  <!-- class for sahithi's image --> 
  <div class = "simg">
    <img src="/static/sahithipic.png" alt="Sahithi Gollakota" width=338 height=400>
  </div>
  
  <!-- class for sahithi's bio --> 
  <div class = "sahithi">
    <p> Sahithi is a first-year electrical engineering and computer engineering combined major at Northeastern University from Massachusetts. She enjoys playing badminton, reading, and watching movies with her family. </p>
  </div>

  <!-- title of Chloe's section --> 
  <div class = "cname">
    <h2>Chloe</h2>
  </div>
  <!-- chloe's image --> 
  <div class = "cimg">
    <img src="/static/IMG_7497.JPG" alt="Chloe Bright" width=300 height=400>
  </div>

  <!-- class for chloe's bio --> 
  <div class = "chloe" align=>
    <p>  Chloe is a first-year computer engineering student at Northeastern University from Akron, OH. Academically, she enjoys programming and mathematics. She reads, takes long runs, and spends time with her cats and family at home in her free time. </p>
  </div>
  

   <!--runs js from the js script file on this page -->
  <script src="/static/script.js"></script>
</body>

</html>
